@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*:focus {
  outline: 1px solid #f59e0b;
  border-radius: 0.375rem;
}

body {
  background-color: #171717;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
